@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="home-title">
        <h1 class="display-4">Welcome to TennisApp</h1>
        <h2 class="display-4">Your place for tennis.</h2>
    </div>
    <img class="home-image" src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1000w,f_auto,q_auto:best/rockcms/2024-06/240613-rafael-nadal-se-1049a-acb5e8.jpg"></img>
</div>
